.button {
  padding: 13px 30px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 18px;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: All 0.5s;
  display: flex;
  align-items: center;
}

.transparent {
  background-color: transparent;
  color: white;
  border-color: white;

  &:hover {
    background-color: white;
    color: black;
  }
}

.gold {
  background-color: goldenrod;
  color: white;
  border-color: goldenrod;

  &:hover {
    background-color: white;
    color: black;
    border-color: white;
  }
}
