.banner {
  background-image: url("./bannerHome.jpg");
  color: white;
  height: calc(100vh - 142px);
  text-align: center;
  display: flex;
  align-items: center;
}

.banner * {
  margin: 0 auto;
}

.banner h2 {
  font-size: 64px;
  font-weight: 700;
}

.banner p {
  font-size: 18px;
  font-weight: 400;
}
