.navigation {
  padding: 20px 0;
}

.navigation a {
  text-decoration: none;
  color: #5e5e5e;
}

.bars {
  font-size: 25px;
  cursor: pointer;
}

.navigation .active {
  color: rgba(1, 107, 56, 1);
}
